@charset "UTF-8";

/*============== Fonts ==========================*/

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Black.eot");
  src: local("../fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: local("../fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("../fonts/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Light.eot");
  src: local("../fonts/Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
aside {
  display: block;
}

html,
body {
  font-family: 'Proxima Nova';
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #28292D;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================== BUTTONS ===========================================*/

.button_color_white-black {
  cursor: pointer;
  border: 1px solid #28292D;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  color: #28292D;
}

.button_color_white-black a {
  color: #28292D;
}

.button_color_white-black:hover {
  transition: all 0.3s ease 0s;
  color: #FFFFFF;
  background: #28292D;
}

.button_color_black {
  cursor: pointer;
  background: #28292D;
  width: 330px;
  height: 65px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}

.button_color_black a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.button_color_black:hover {
  transition: all 0.3s ease 0s;
  background: #404147;
}

.button_color_white {
  cursor: pointer;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  width: 450px;
  height: 80px;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.button_color_white a {
  color: #28292D;
}

.button_color_white:hover {
  transition: all 0.3s ease 0s;
  background: #e6e4e4;
}

/*=================================================================*/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

/*======================= HEADER ==================*/

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 40px 15px;
}

.header__contacts {
  display: flex;
}

.header-contacts__geoposition {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  position: relative;
  margin: 0 100px 0 0;
}

.header-contacts__geoposition::before {
  position: absolute;
  display: inline-block;
  top: 25%;
  font-size: 10px;
  left: -30px;
}

.header-contacts__connect {
  margin: 0 35px 0 0;
  position: relative;
}

.header-contacts__connect::before {
  position: absolute;
  display: inline-block;
  top: 25%;
  font-size: 10px;
  left: -30px;
}

.header-contacts__phone {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.header-contacts__phone a {
  color: #28292D;
}

.header-contacts__mode {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: end;
}

.catalog-header {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.menu-catalog__list.active {
  transform: translate(0, 0);
  transition: all 0.3s ease-in 0s;
}

.menu-catalog__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.menu-catalog__item {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-right: 1px solid #E5E5E5;
  position: relative;
  cursor: pointer;
}

.menu-catalog__item:nth-child(1) {
  border-left: 1px solid #E5E5E5;
}

.menu-catalog__item::before {
  position: absolute;
  top: 0px;
  color: #E5E5E5;
  font-size: 5px;
  transition: all 0.8s ease 0s;
}

.menu-catalog__item:after {
  display: block;
  content: "";
  background-color: #F39B14;
  height: 1px;
  width: 0%;
  top: -1px;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}

.menu-catalog__link {
  position: relative;
  color: #28292D;
  transition: all 0.4s ease 0s;
}

.menu-catalog__link::before {
  float: right;
  margin: 6px 0 0 0;
  padding: 0px 20px 0 0;
  font-size: 6px;
  transform: rotate(180deg);
}

.sub-menu-catalog {
  opacity: 0;
  z-index: 4;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 90%;
  left: 0%;
  border: 1px solid #E5E5E5;
  cursor: auto;
  min-width: 110%;
  width: auto;
  background: #FFFF;
}

.sub-menu-catalog__item {
  border-bottom: 1px solid #E5E5E5;
}

.sub-menu-catalog__item:last-child {
  border-bottom: none;
}

.sub-menu-catalog__link {
  text-align: center;
  display: inline-block;
  padding: 30px 0;
  width: 100%;
  color: #28292D;
  white-space: nowrap;
}

.sub-menu-catalog__link:hover {
  color: #F39B14;
}

/*================== BURGER ====================*/

.icon-menu.active {
  z-index: 4;
  transition: all 0.3s ease 0s;
  transform: translate(0%, -300%);
}

.icon-menu {
  display: none;
  position: relative;
  width: 50px;
  height: 30px;
  background: none;
  z-index: 2;
  transition: all 0.4s ease 0s;
  transform: translate(0%, 0%);
}

.icon-menu::before,
.icon-menu span,
.icon-menu::after {
  left: 0%;
  position: absolute;
  height: 4px;
  width: 50px;
  transition: all 0.3s ease 0s;
  background: #000;
}

.icon-menu::before,
.icon-menu::after {
  content: '';
}

.icon-menu::before {
  top: 0%;
}

.icon-menu::after {
  bottom: 0%;
}

.icon-menu span {
  top: 44%;
}

.icon-menu.active span {
  transform: scale(0) translate(0, -50%);
}

.icon-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.icon-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

/*======================= SLIDER-TOP ======================*/

.slider-top.no-active::before {
  position: absolute;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.4;
}

.slider-top {
  background-image: url(../img/slider-top/bg-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider-top__container {
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slider-top__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.slide-slider-top {
  display: flex;
}

.slide-slider-top__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 15px;
}

.slide-slider-top__title {
  font-weight: 900;
  font-size: 70px;
  position: relative;
}

.slide-slider-top__subtitle {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0 0 0;
}

.slide-slider-top__text {
  margin: 40px 0 0 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  max-width: 430px;
  padding: 0 0 0 50px;
  position: relative;
}

.slide-slider-top__text::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  background: #F19217;
  left: 0;
  top: 10px;
}

.slide-slider-top__button {
  margin: 60px 0 0 0;
}

.slide-slider-top__image {
  margin: 0px 0 0 -140px;
  min-height: 500px;
}

.slide-slider-top__image img {
  max-width: 100%;
}

.swiper-pagination {
  position: absolute;
  top: 90%;
  z-index: 1;
}

.swiper-pagination-bullet {
  background: #F19217;
  width: 27px;
  height: 4px;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: #F19217;
}

/*======================= OFFER-PRODUCT ======================*/

.offer-product {
  padding: 50px 0 50px 0;
}

.offer-product__title {
  padding: 0 15px;
  font-weight: 700;
  font-size: 48px;
}

.offer-product__text {
  padding: 40px 15px 0 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.product-offer {
  margin: 50px 0 0 0;
}

.product-offer__title {
  font-weight: 800;
  font-size: 24px;
  padding: 0 15px;
}

.product-offer__title a {
  color: #000000;
}

.product-offer__body {
  display: flex;
  flex-wrap: wrap;
}

.item-product {
  flex: 0 0 310px;
  margin: 15px 15px;
  overflow: hidden;
}

.item-product__image img {
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.item-product__image:hover img {
  transform: scale(1.1);
  background: #000;
  opacity: 0.7;
}

.item-product__name {
  margin: 10px 0 0 0;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.item-product__link {
  color: #000000;
}

.item-product__link:hover {
  color: #F19217;
}

/*======================= ADVANTAGES ======================*/

.advantages {
  padding: 50px 0;
}

.advantages__title {
  font-weight: 700;
  font-size: 48px;
  padding: 0 15px;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.advantages__item {
  margin: 50px 0 0 0px;
  text-align: center;
  flex: 0 0 20%;
  padding: 0 15px;
}

.advantages__image {
  display: inline-block;
  border: 1px solid #EAEAEA;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__image img {
  max-width: 90px;
}

.advantages__name {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 20px 0 0 0;
}

/*======================= ACQUAINTANCE ======================*/

.acquaintance {
  padding: 50px 0 140px 0;
}

.acquaintance__container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.acquaintance__image {
  flex: 1 1 50%;
}

.acquaintance__image img {
  width: 100%;
}

.acquaintance__body {
  flex: 1 1 50%;
  padding: 0 0 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acquaintance__title {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 40px -280px;
}

.acquaintance__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 250%;
  margin: 0 0 60px 0;
}

.acquaintance__button {
  margin: 0 auto 0 0;
  text-align: start;
  width: 270px;
  height: 45px;
}

/*======================= FORM ======================*/

.form {
  background: #000;
  position: relative;
}

.form__container {
  background-image: url(../img/form/item-rigth.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  position: relative;
}

.form__content {
  background-image: url(../img/form/item-left.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: left top;
}

.form__body {
  text-align: center;
  position: relative;
  z-index: 1;
}

.form__text {
  padding: 80px 15px 20px 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 550px;
  margin: 0px auto;
}

.form__entry {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.form__placeinput {
  position: relative;
  max-width: 360px;
  margin: 10px auto;
}

.form__placeholder {
  position: absolute;
  font-size: 20px;
  color: #FFFFFF;
  top: 18px;
  left: 20px;
  transition: all 0.3s ease 0s;
}

.form__placeholder span {
  color: red;
}

.form__placeholder.focus {
  top: 4px;
  left: 5px;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}

.form__input {
  width: 320px;
  height: 55px;
  border: 1px solid #FFFFFF;
  background: none;
  font-size: 20px;
  padding: 0 20px;
  color: #FFFFFF;
}

.form__input:focus {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
}

.form__button {
  margin: 15px auto;
  width: 360px;
  height: 60px;
}

.form__agree {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  padding: 10px 0 50px 0;
}

.form__check {
  width: 15px;
  height: 10px;
  border: 1px solid #FFFFFF;
  position: relative;
}

.form__check:hover {
  background: #3b3b3b;
}

.form__check.active::before {
  content: '';
  position: absolute;
  background-image: url(../img/icons/check.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
  top: 1px;
  left: 0;
}

.form__agree-text {
  padding: 0 0 0 5px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
}

.zayavka-form {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 170px 15px 125px 15px;
}

.zayavka-form__text {
  font-weight: 300;
  font-size: 40px;
  line-height: 150%;
}

.zayavka-form__text span {
  font-weight: 800;
}

.zayavka-form__phone {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 30px 0;
}

.zayavka-form__button {
  font-weight: 400;
}

/*======================= Certificate ======================*/

.certificate {
  padding: 120px 0;
}

.certificate__container {
  max-width: 1640px;
  margin: 0 auto;
  position: relative;
}

.certificate__content {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.certificate__title {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 20px 0;
  padding: 0 15px;
}

.certificate__button {
  width: 270px;
  height: 45px;
  margin: 40px auto 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #28292D;
  font-size: 25px;
}

/*======================= Popular-products ======================*/

.popular-products {
  padding: 50px 0 50px 0;
}

.popular-products__container {
  padding: 0 10px;
}

.popular-products__title {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 40px 0;
  padding: 0 5px;
}

.popular-products__row {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
}

.popular-products__button-category {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 50px;
  border: 1px solid #E5E5E5;
  font-weight: 600;
  font-size: 12px;
  color: #919191;
  margin: 10px 8px 0 8px;
}

.popular-products__button-category.active {
  border: 1px solid #F39B14;
  color: #F39B14;
}

.popular-products__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-products__button {
  width: 270px;
  height: 45px;
  font-weight: 600;
  font-size: 12px;
  margin: 50px auto 0 auto;
}

.popular-products__body.no-active {
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.popular-products__body.active {
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.popular-products__body.hidden {
  display: none;
}

.card-product {
  flex: 0 1 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  padding: 0 5px;
  overflow: hidden;
}

.card-product__image img {
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.card-product__image:hover img {
  transform: scale(1.1);
  background: #000;
  opacity: 0.7;
}

.card-product__title {
  margin: 28px 0 0 0;
  font-weight: 700;
  font-size: 20px;
}

.card-product__title a {
  color: #28292D;
}

.card-product__description {
  flex: 1 1 auto;
  margin: 20px 0 50px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
}

.card-product__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-product__price {
  font-weight: 700;
  font-size: 24px;
}

.card-product__button {
  width: 150px;
  height: 35px;
  font-weight: 600;
  font-size: 12px;
}

/*======================= CEO ======================*/

.ceo {
  padding: 50px 0 100px 0;
}

.ceo__title {
  font-weight: 700;
  font-size: 48px;
  padding: 0 15px;
}

.ceo__text {
  margin: 20px 0 0 0;
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 250%;
}

/*======================= NAVIGATION ======================*/

.navigation__container {
  padding: 0 15px;
}

.navigation__list {
  display: flex;
  margin: 50px 0;
}

.navigation__item {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
}

.navigation__link {
  display: inline-block;
  font-weight: 400;
  color: #F19217;
  position: relative;
  padding: 0 25px 0 0;
  margin: 0 45px 0 0;
}

.navigation__link::before {
  position: absolute;
  content: '';
  background-image: url(../img/icons/arrow.png);
  width: 6px;
  height: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 100%;
  top: 6px;
}

/*======================= Category ======================*/

.category {
  padding: 0 15px;
}

.category__title {
  font-weight: 700;
  font-size: 48px;
}

.category__text {
  margin: 20px 0 40px 0;
  font-weight: 300;
  font-size: 18px;
}

.category__body {
  display: flex;
}

.category__products {
  flex: 1 1 auto;
}

.sidebar-category {
  flex: 0 0 330px;
  padding: 0 10px 0 0;
  position: relative;
}

.sidebar-category__item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 10px 0;
  width: 328px;
  height: 48px;
  border: 1px solid #E5E5E5;
}

.sidebar-category__item::before {
  display: none;
}

.sidebar-category__item.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F19217;
  color: #F19217;
}

.sidebar-category__item.active.down-arrow::before {
  transform: rotate(180deg);
  padding: 0 20px 0 0;
}

.products-category {
  max-width: 1100px;
  margin: 0 auto;
}

.products-category__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-products-category {
  margin: 0 0 20px 0;
  padding: 0 10px;
  flex: 0 1 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.card-products-category__image img {
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.card-products-category__image:hover img {
  transform: scale(1.1);
  background: #000;
  opacity: 0.7;
}

.card-products-category__name {
  margin: 10px 0 0 0;
  font-weight: 700;
  font-size: 18px;
}

.card-products-category__name a {
  color: #28292D;
}

.card-products-category__name:hover a {
  color: #F19217;
}

.card-products-category__description {
  margin: 10px 0 0 0;
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
}

.card-products-category__price {
  margin: 15px 0;
  font-weight: 700;
  font-size: 18px;
}

.card-products-category__button {
  width: 150px;
  height: 35px;
}

.description-category {
  margin: 50px 0;
}

.description-category__image {
  margin: 0 20px 0 0;
}

.description-category__image img {
  float: left;
  margin: 0 30px 0px 0;
}

.description-category__title {
  font-weight: 700;
  font-size: 36px;
}

.description-category__text {
  margin: 20px 0 0 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}

/*======================= Choosing-us ======================*/

.choosing-us {
  padding: 20px 0;
}

.choosing-us__container {
  padding: 0 15px;
}

.choosing-us__title {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 20px 0;
}

.choosing-us__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-choosing {
  padding: 0 10px;
  flex: 0 1 450px;
  margin: 20px 0 0 0;
  text-align: center;
}

.item-choosing__name {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0 0px 0;
}

.item-choosing__text {
  margin: 45px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}

/*======================= Product-page ======================*/

.product-page__container {
  padding: 0 15px;
}

.product-page__content {
  display: flex;
}

.product-page__body {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
}

.product-page__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}

.product-page__text {
  margin: 30px 0 0 0;
  font-weight: 700;
  font-size: 20px;
}

.product-page__description {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 250%;
  overflow: auto;
  height: 150px;
}

.product-page__price {
  margin: 40px 0 0 0;
}

.product-page__price-text {
  font-weight: 700;
  font-size: 20px;
}

.product-page__price-cost {
  margin: 15px 0 0 0;
  font-weight: 700;
  font-size: 36px;
}

.product-page__button {
  margin: 40px 0;
  width: 330px;
  height: 65px;
}

.image-block-product__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 570px;
  height: 440px;
}

.slider-mini-image {
  margin: 10px 0 0 0;
}

.slider-mini-image__container {
  max-width: 570px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-mini-image__wrapper {
  text-align: center;
}

.slider-mini-image__img img {
  width: 150px;
  height: 100px;
}

.slider-mini-image__button-next::after {
  font-size: 18px;
  margin: 0 0 0 35px;
}

.slider-mini-image__button-prev::after {
  font-size: 18px;
  margin: 0 35px 0 0;
}

.tab-product {
  padding: 50px 0;
}

.tab-product__button {
  background: none;
  font-weight: 700;
  font-size: 36px;
  color: #C5C5C5;
  margin: 0 50px 0 0;
}

.tab-product__content {
  display: none;
}

.tab-product__button.active {
  color: #28292D;
}

.tab-product__content.active {
  display: block;
}

.tab-description__text {
  margin: 35px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 250%;
}

.tab-description__image {
  text-align: center;
}

.tab-characteristic__text {
  margin: 40px 0;
  line-height: 150%;
}

.page-404 {
  padding: 50px 0;
}

.page-404__container {
  padding: 0 15px;
}

.page-404__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

.page-404__link {
  position: relative;
  margin: 40px 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.page-404__link a {
  color: #F39B14;
}

.page-404__link a:hover {
  color: #fac26f;
}

.page-404__image {
  text-align: center;
  margin: -40px 0 0 0;
}

.page-404__image img {
  max-width: 100%;
}

.footer {
  min-height: 320px;
}

.footer__content {
  border-top: 2px solid #28292D;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 30px 15px;
}

.footer__phone {
  font-size: 24px;
}

.footer__mode {
  margin: 5px 0 0 0;
  font-weight: 600;
  font-size: 14px;
  color: #C0C0C0;
  text-align: end;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.footer__copyright {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.footer__protected {
  color: #C0C0C0;
}

.footer__menu {
  flex: 0 0 25%;
}

.footer__column {
  flex: 0 1 25%;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__geoposition {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.footer__mail {
  font-size: 14px;
  font-weight: 600;
}

.footer__mail a {
  color: #F39B14;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
}

.menu-footer__list:nth-child(1) {
  min-height: 150px;
}

.menu-footer__item {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 30px 0;
}

.menu-footer__link {
  color: #28292D;
}

.menu-footer__link:hover {
  color: #F39B14;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  top: 0%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.popup__body {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease 0s;
}

.popup__content {
  height: auto;
  position: relative;
  padding: 50px;
  background-color: white;
  text-align: center;
  transition: all 0.8s ease 0s;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 30px;
  z-index: 1;
}

.popup__title {
  font-weight: 600;
  font-size: 36px;
}

.popup__text {
  font-weight: 400;
  font-size: 14px;
  margin: 0px 0 30px 0;
}

.popup__placeinput {
  position: relative;
  margin: 15px 0;
}

.popup__placeholder.focus {
  top: 4px;
  left: 10px;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}

.popup__placeholder {
  position: absolute;
  font-size: 18px;
  top: 18px;
  left: 20px;
  transition: all 0.3s ease 0s;
}

.popup__placeholder span {
  color: red;
}

.popup__input {
  width: 378px;
  border: 1px solid #E3E3E3;
  height: 55px;
  padding: 0 0 0 20px;
  font-weight: 400;
  font-size: 18px;
}

.popup__agree {
  margin: 10px 0 0 0;
  display: flex;
  max-width: 400px;
}

.popup__check {
  flex: 0 0 10px;
  border: 1px solid #DEDEDE;
  width: 15px;
  height: 10px;
  position: relative;
}

.popup__check.active::before {
  content: '';
  position: absolute;
  background-image: url(../img/icons/check.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
  top: 1px;
  left: 0;
}

.popup__agree-text {
  margin: 0 0 0 10px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
}

.popup__btn {
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 65px;
  color: #FFFFFF;
  background: linear-gradient(95.94deg, #F19217 17.38%, #EA611B 105.13%);
}

.popup__btn:hover {
  background: #EA611B;
}

@media (min-width: 991px) {
  .certificate__wrapper {
    max-width: 950px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .menu-catalog__item.hover {
    position: relative;
  }

  .menu-catalog__item.hover:after {
    width: 100%;
  }

  .menu-catalog__item.hover::before {
    transition: all 0.2s ease 0s;
    color: #F39B14;
  }

  .menu-catalog__link.hover {
    color: #F39B14;
    transition: all 0.1s ease 0s;
  }

  .menu-catalog__link.hover::before {
    padding: 0 0 0 20px;
    transform: rotate(0deg);
  }

  .sub-menu-catalog.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .certificate__wrapper {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .certificate__wrapper {
    max-width: 1100px;
  }
}

@media (min-width: 1440px) {
  .certificate__wrapper {
    margin: 0;
  }
}

@media (min-width: 1900px) {
  .slide-slider-top__image img {
    margin: 0 0px 0 -70px;
  }
}

@media (min-width: 1920px) {
  .slider-top__container {
    max-width: 2500px;
  }
}

@media (max-width: 1920px) {
  .slide-slider-top__title {
    font-size: calc(39px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
    width: calc(600px + (230 - 20) * ((100vw - 992px) / (1920 - 992)));
  }
}

@media (max-width: 1450px) {
  .slide-slider-top__body {
    padding: 20px 0 20px 50px;
  }

  .slide-slider-top__image img {
    margin: 0 0px 0 130px;
  }
}

@media (max-width: 1440px) {
  .header-contacts__geoposition {
    margin-right: calc(60px + (100 - 20) * ((100vw - 1024px) / (1410 - 1024)));
  }

  .menu-catalog__item::before {
    top: -1px;
  }

  .slide-2-slider-top__image img {
    margin: 20px 0 0 50px;
  }

  .advantages__body {
    max-width: 1200px;
    margin: 0 auto;
  }

  .advantages__image {
    width: 120px;
    height: 120px;
  }

  .advantages__image img {
    max-width: 60px;
  }

  .advantages__name {
    font-size: 22px;
  }

  .acquaintance__body {
    padding-left: calc(0px + (80 - 20) * ((100vw - 320px) / (992 - 320)));
  }

  .acquaintance__title {
    font-size: calc(20px + (43 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .form__container {
    background-size: 450px;
  }

  .form__content {
    background-size: 450px;
  }

  .zayavka-form {
    padding: 110px 15px 90px 15px;
    max-width: 1150px;
  }

  .zayavka-form__text {
    font-size: 32px;
  }

  .zayavka-form__phone {
    font-size: 34px;
    margin: 0 0 10px 0;
  }

  .zayavka-form__button {
    width: 300px;
    height: 60px;
  }

  .item-choosing {
    flex: 0 1 350px;
  }

  .item-choosing__icon img {
    width: 120px;
  }

  .item-choosing__text {
    margin: 25px 0 0 0;
    line-height: 180%;
  }

  .page-404__container {
    max-width: 800px;
  }
}

@media (max-width: 1350px) {
  .slide-slider-top__image {
    margin: 0px 0 0 -240px;
  }
}

@media (max-width: 1240px) {
  .product-page__title {
    font-size: 36px;
  }
}

@media (max-width: 1220px) {
  .slide-2-slider-top__image img {
    margin: 60px 0 0 50px;
  }
}

@media (max-width: 1210px) {
  .footer__menu {
    flex: 0 0 295px;
  }
}

@media (max-width: 1200px) {
  .acquaintance__title {
    margin: 0 0 20px -230px;
  }

  .acquaintance__text {
    line-height: 200%;
    margin: 0 0 40px 0;
  }

  .form__entry {
    flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .slider-top__container {
    height: 450px;
  }

  .item-choosing {
    flex: 0 1 300px;
  }
}

@media (max-width: 1100px) {
  .slide-slider-top__image {
    margin: 0px 0 0 -290px;
  }
}

@media (max-width: 1024px) {
  .catalog-header {
    border-top: none;
    border-bottom: 1px solid #000000;
  }

  .menu-catalog {
    display: flex;
    justify-content: end;
  }

  .menu-catalog__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 30px;
    font-weight: normal;
    border: 1px solid #E5E5E5;
    position: absolute;
    top: 0;
    z-index: 3;
    background: #FFFF;
    transform: translate(0, -150%);
    transition: all 0.3s ease-in 0s;
  }

  .menu-catalog__item {
    border: none;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
  }

  .menu-catalog__item:nth-child(1) {
    border-top: 1px solid #E5E5E5;
    border-left: none;
    margin: 90px 0 0 0;
  }

  .menu-catalog__item::before {
    display: none;
  }

  .menu-catalog__sub-menu {
    display: none;
  }

  .menu-catalog__link::before {
    display: none;
  }

  .menu-catalog__link {
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  .menu-catalog__burger {
    padding: 0 15px 15px 15px;
  }

  .icon-menu {
    display: block;
  }

  .slide-slider-top__image {
    margin: 50px 0 0 -360px;
    min-height: auto;
  }

  .slide-2-slider-top__image img {
    margin: 40px 0 0 100px;
  }

  .offer-product__title {
    font-size: 44px;
  }

  .zayavka-form__text {
    font-size: 28px;
    line-height: 120%;
  }

  .zayavka-form__phone {
    font-size: 30px;
  }

  .zayavka-form__button {
    width: 280px;
    height: 50px;
  }

  .popular-products__title {
    text-align: center;
  }

  .popular-products__row {
    justify-content: center;
  }

  .popular-products__body {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .acquaintance__container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 991px) {
  .header-contacts__geoposition {
    display: none;
  }

  .slider-top__container {
    height: auto;
  }

  .slide-slider-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide-slider-top__body {
    padding: 50px 15px 0 15px;
  }

  .slide-slider-top__title {
    width: auto;
  }

  .slide-slider-top__subtitle {
    font-size: 25px;
  }

  .slide-slider-top__text {
    font-size: 18px;
  }

  .slide-slider-top__image {
    margin: 0;
  }

  .slide-slider-top__image img {
    margin: 0;
  }

  .swiper-pagination {
    top: 95%;
  }

  .offer-product__title {
    font-size: calc(25px + (44 - 20) * ((100vw - 320px) / (991 - 320)));
  }

  .offer-product__text {
    padding: 20px 15px 0 15px;
    font-size: calc(12px + (27 - 20) * ((100vw - 320px) / (991 - 320)));
  }

  .product-offer__title {
    text-align: center;
    padding: 0 0 20px 0;
  }

  .product-offer__body {
    justify-content: center;
  }

  .advantages__title {
    font-size: calc(25px + (48 - 20) * ((100vw - 320px) / (991 - 320)));
  }

  .advantages__body {
    justify-content: center;
  }

  .advantages__item {
    flex: 0 0 30%;
  }

  .advantages__name {
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (991 - 320)));
  }

  .acquaintance__image {
    margin: 20px auto 0 auto;
  }

  .acquaintance__body {
    padding: 0;
  }

  .acquaintance__title {
    margin: 0 0 30px 0;
    font-size: calc(25px + (48 - 20) * ((100vw - 320px) / (991 - 320)));
  }

  .acquaintance__button {
    margin: 0;
  }

  .zayavka-form {
    flex-direction: column;
    padding: 210px 15px 190px 15px;
    text-align: center;
  }

  .zayavka-form__text {
    font-size: 32px;
  }

  .zayavka-form__contact {
    margin: 20px 0 0 0;
  }

  .zayavka-form__phone {
    font-size: 34px;
  }

  .zayavka-form__button {
    width: 300px;
    height: 60px;
  }

  .choosing-us__title {
    font-size: 36px;
    text-align: center;
  }

  .choosing-us__body {
    justify-content: center;
  }

  .product-page__content {
    flex-direction: column;
  }

  .product-page__body {
    padding: 30px 0 0 0;
  }

  .product-page__column {
    display: flex;
    justify-content: space-around;
  }

  .image-block-product__image {
    display: none;
  }

  .slider-mini-image__img img {
    width: 570px;
    height: 440px;
  }

  .slider-mini-image__button-next {
    display: none;
  }

  .slider-mini-image__button-prev {
    display: none;
  }

  .footer__body {
    flex-direction: column-reverse;
  }

  .footer__copyright {
    text-align: center;
  }

  .footer__copyright p {
    margin: 0 0px 10px 0;
  }

  .footer__menu {
    order: 2;
    flex: 1 1 auto;
  }

  .footer__column {
    text-align: center;
    margin: 15px 0 0 0;
  }

  .footer__mail {
    margin: 10px 0 10px 0;
  }

  .menu-footer__list:nth-child(1) {
    min-height: auto;
  }

  .menu-footer__item {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 768px) {
  .slide-slider-top__subtitle {
    margin: 0;
  }

  .slide-slider-top__text {
    margin: 30px 0 0 0;
  }

  .offer-product__text {
    padding-top: calc(20px + (40 - 20) * ((100vw - 320px) / (768 - 320)));
  }

  .advantages__title {
    text-align: center;
  }

  .acquaintance__title {
    text-align: center;
    margin: 0 0px 20px 0;
  }

  .form__text {
    padding: 150px 15px 20px 15px;
  }

  .certificate {
    padding: 80px 0;
  }

  .navigation__item {
    font-size: 14px;
  }

  .navigation__link::before {
    top: 2px;
  }

  .category__body {
    display: block;
  }

  .sidebar-category {
    padding: 0;
  }

  .sidebar-category__list {
    position: absolute;
    top: 50px;
    z-index: 2;
    background-color: #FFFFFF;
    border: 1px solid #F19217;
    border-top: none;
  }

  .sidebar-category__item {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    display: none;
  }

  .sidebar-category__item.open {
    display: flex;
  }

  .sidebar-category__item.active {
    position: absolute;
    top: -60px;
    left: -1px;
    z-index: 1;
    background-color: #FFFFFF;
    flex-direction: row-reverse;
  }

  .sidebar-category__item.active::before {
    display: inline-block;
    font-size: 10px;
    padding: 0 0px 0 20px;
  }

  .products-category__content {
    padding: 80px 0 0 0;
  }

  .product-page__column {
    flex-direction: column;
    align-items: center;
  }

  .product-page__price {
    display: flex;
    justify-content: space-between;
    width: 330px;
  }

  .product-page__price-text {
    margin: 10px 0 0 0;
  }

  .product-page__price-cost {
    margin: 0;
  }

  .product-page__button {
    margin: 25px 0 0 0;
  }

  .tab-description__image img {
    width: 100%;
  }

  .page-404__title {
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 767px) {
  .header-contacts__connect {
    margin: 0;
  }

  .header-contacts__button {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__top {
    flex-direction: column;
  }

  .header-contacts__phone {
    margin: 10px 0 0 0;
  }

  .catalog-header {
    margin: -70px 0 0 0;
  }

  .icon-menu.active {
    transform: translate(0%, -200%);
  }

  .icon-menu {
    transform: translate(0%, -50%);
  }

  .slide-slider-top__button {
    margin: 60px auto 0 auto;
  }

  .advantages {
    padding: 0px 0 30px 0;
  }

  .form__container {
    background-size: 400px;
  }

  .form__content {
    background-size: 400px;
  }

  .navigation__list {
    margin: 30px 0;
  }

  .navigation__item {
    font-size: 12px;
  }

  .category__title {
    font-size: 36px;
  }

  .category__text {
    margin: 10px 0 40px 0;
  }

  .description-category__image img {
    margin: 0;
    width: 100%;
  }

  .slider-mini-image__img img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .page-404__image {
    margin: 0;
  }
}

@media (max-width: 560px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 00px 15px;
  }

  .footer__phone {
    margin: 15px 0 0 0;
  }

  .footer__mode {
    text-align: center;
  }

  .footer__copyright {
    margin: 20px 0 20px 0;
  }

  .footer__column {
    order: 2;
  }
}

@media (max-width: 550px) {
  .slide-slider-top__title {
    font-size: calc(25px + (40 - 20) * ((100vw - 320px) / (550 - 320)));
  }

  .slide-slider-top__subtitle {
    font-size: calc(15px + (30 - 20) * ((100vw - 320px) / (550 - 320)));
  }

  .slide-slider-top__text {
    font-size: calc(12px + (27 - 20) * ((100vw - 320px) / (550 - 320)));
    padding: 0 15px 0 55px;
  }
}

@media (max-width: 500px) {
  .page-404__link {
    font-size: 20px;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 480px) {
  .slide-slider-top__button {
    margin: 40px auto 0 auto;
  }

  .offer-product {
    padding: 30px 0;
  }

  .certificate__title {
    text-align: center;
    font-size: 38px;
  }

  .certificate__slide img {
    width: 310px;
  }

  .product-page__description {
    line-height: 200%;
  }

  .tab-product {
    padding: 50px 0 0 0;
  }

  .tab-description__text {
    line-height: 200%;
  }
}

@media (max-width: 450px) {
  .popup__content {
    width: 300px;
  }

  .popup__input {
    width: 280px;
  }

  .popup__agree-text {
    font-size: 10px;
  }

  .popup__btn {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .header__logo img {
    width: 250px;
  }

  .form__input {
    width: 280px;
  }

  .form__button {
    width: 320px;
  }

  .form__agree {
    max-width: 310px;
  }

  .description-category__title {
    font-size: 30px;
  }

  .page-404__link {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .item-product {
    flex: 0 0 290px;
  }

  .item-product__image img {
    width: 290px;
  }

  .navigation__link {
    margin: 0 25px 0 0;
    padding: 0 15px 0 0;
  }

  .popup__content {
    padding: 50px 20px;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__text {
    font-size: 12px;
    margin: 10px 0 30px 0;
  }
}

@media (max-width: 370px) {
  .advantages__item {
    flex: 0 0 300px;
  }
}

@media (max-width: 360px) {
  .slide-slider-top__button {
    width: 300px;
  }

  .sidebar-category__list {
    width: 100%;
  }

  .sidebar-category__item {
    width: 100%;
  }

  .product-page__price {
    width: 300px;
  }

  .product-page__button {
    width: 300px;
  }
}

@media (max-width: 350px) {
  .icon-menu {
    width: 40px;
    transform: translate(0%, 0%);
  }

  .icon-menu::before,
  .icon-menu span,
  .icon-menu::after {
    width: 40px;
  }

  .form__input {
    width: 260px;
    padding: 0 10px;
  }

  .form__button {
    width: 280px;
  }

  .form__agree {
    max-width: 280px;
  }

  .form__agree-text {
    font-size: 10px;
  }
}

@media (max-width: 340px) {
  .advantages__item {
    flex: 0 0 290px;
  }

  .popup__content {
    width: 280px;
  }

  .popup__placeholder {
    font-size: 14px;
    top: 22px;
  }

  .popup__input {
    width: 260px;
    font-size: 14px;
  }

  .popup__btn {
    width: 280px;
  }
}